fastapi>=0.112.0
uvicorn==0.23.2
sqlalchemy>=2.0.40
asyncpg>=0.30.0
python-dotenv>=1.1.0
alembic
pydantic>=2.11.4
starlette
psycopg2-binary
httpx>=0.24.1
aiosqlite>=0.19.0
cryptography>=41.0.1
passlib>=1.7.4
python-jose>=3.3.0
python-multipart>=0.0.6
